* {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

#main {
	margin-top: 125px;
	text-align: center;
	margin-bottom: 33px;
}

#google_logo img {
	width: 19%;
}

/* Nav Bar */
.navbar {
	text-align: right;
	font-size: 13px;
	height: 50px;
	font-family: Arial, sans-serif;
}

.navbar li {
	display: inline-block;
	width: 50px;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
}

.navbar li a {
	color: #000;
	text-decoration: none;
}

.navbar li a:hover{
	text-decoration: underline;
}

.navbar li a img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	opacity: .55;
}

.navbar li a img:hover{
	opacity: .85;
}

#nav-user-icon {
	opacity: 1 !important;
}

/* Search Bar & Search Buttons */

input[name=searchField] {
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	height: 34px;
	width: 100%;
	background: transparent;
}

input[type=submit]{
	height: 36px;
	border-radius: 2px;
	border-style: none;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	color: #757575;
	cursor: default;
	font-weight: bold;
	margin:	11px 4px;
	min-width: 54px;
	padding: 0px 16px;
	text-align: center;
}

input[type=submit]:hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	color: #222;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1ff);
}

#SearchBar-container {
	border-radius: 3px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2), 0px 0px 0px 1px rgba(0, 0, 0, .1);
}

#SearchBar-container:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
}

.search {
	display: inline-block;
	vertical-align: middle;
}

#SearchBar {
	padding-top: 6px;
	padding-left: 16px;
	padding-right: 9px;
	width: 500px;
}

#Search-voice {
	padding: 0px 8px;
}

#A-voice {
	width: 24px;
	line-height: 44px;
	padding: 0px 8px;
}

#Span-voice {
	width: 18px;
	background: url(images/google-voice-icon.png) no-repeat -3px 0;
	height: 23px;
	display: inline-block;
	background-size: 24px 24px;
	vertical-align: middle;
}

#Search-buttons {
	padding-top: 18px;
}

/* Footer */

#Footer {
	display: block;
	line-height: 40px;
	background: #f2f2f2;
	height: 40px;
	position: absolute;
	width: 102%;
	border-top: 1px solid #e4e4e4;
	margin-left: -27px;
	bottom: 0px;
}

#footer-left {
	text-align: left;
	display: inline-block;
	float: left;
	margin-left: 30px;
} 

#footer-right {
	text-align: right;
	display: inline-block;
	float: right;
	margin-right: 30px;
}

#Footer span a {
	padding-left: 27px;
	margin: 0 !important;
	text-decoration: none;
	color: #222;
	opacity: .75;
}

#Footer span a:hover {
	text-decoration: underline;
}
