* {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: -10px;
}

#main {
	/*margin-top: 125px;
	text-align: center;
	margin-bottom: 33px;*/
}

body {
	margin: 0px 0px;
}

#google_logo {
	height: 40px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 6px;
}

/* Nav Bar */
.navbar-container {
	background: #FAFAFA;
	margin-top: -15px;
	border-bottom: 1px solid #ebebeb;
}

.navbar-Top {
	text-align: right;
	font-size: 1px;
	height: 50px;
	font-family: Arial, sans-serif;
	padding-top: 35px;
	/*padding-bottom: 20px;*/
}

.navbar-Left {
	float: left;
	display: inline-block;
}

.navbar-Right {
	display: inline-block;
	float: right;
	padding-right: 30px;
	margin-top: -6px;
}

.navbar-Right li {
	display: inline-block;
	width: 35px;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
}

.navbar-Right li a img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	opacity: .55;
}

.navbar-Right li a img:hover{
	opacity: .85;
}

#nav-user-icon {
	opacity: 1 !important;
	height: 30px;
	width: 30px;
}

.navbar-Bottom	{
	height: 48px;
	line-height: 0px;
	padding-left: 160px;
	margin-top: -4px;
}

.navbar-Bottom li {
	display: inline-block;
	padding: 29px 16px 20px;
	text-align: center;
}

.navbar-Bottom li a {
	text-decoration: none;
	color: #222;
	opacity: .55;
}

.navbar-Options li:first-child {
	border-bottom: 3px solid #4285f4;
	font-weight: bold;
	color: #4285f4;
	padding-bottom: 16px;
}

.navbar-Options li:first-child a{
	font-weight: bold;
	color: #4285f4;
	opacity: 1 !important;
}

.navbar-Options li:nth-child(7) {
	padding-left: 87px;
}


/* Search Bar & Search Buttons */

input[name=searchField] {
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	height: 34px;
	width: 100%;
	background: transparent;
}

#SearchBar-container {
	float: left;
	height: 44px;
	border-radius: 3px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2), 0px 0px 0px 1px rgba(0, 0, 0, .1);
	background-color: white;
}

#SearchBar-container:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
}

.search {
	display: inline-block;
	vertical-align: middle;
}

#SearchBar {
	padding-top: 6px;
	padding-left: 16px;
	padding-right: 9px;
	width: 510px;
}

#Search-voice {
	padding: 0px 8px;
	cursor: default;
}

#A-voice {
	width: 24px;
	line-height: 44px;
	padding: 0px 8px;
}

#A-magnifying-glass {
	width: 24px;
	line-height: 44px;
	padding: 0px 25px;
}

#Span-voice {
	width: 18px;
	background: url(images/google-voice-icon.png) no-repeat -3px 0;
	height: 23px;
	display: inline-block;
	background-size: 24px 24px;
	vertical-align: middle;
}

#Span-mag-glass {
	height: 20px;
	display: inline-block;
	background-size: 24px 24px;
	vertical-align: middle;
	margin-right: 5px;
}

#Search-buttons {
	padding-top: 18px;
}

/*search Content*/
#resultStats {
	line-height: 43px;
	color: #808080;
	padding-left: 16px;
	padding-top: 0;
	padding-right: 8px;
	margin-left: 150px;
}

.searchResult-Left-col {
	margin-left: 165px;
	width: 44%;
}

.searchResult-Left-col a {
	color: rgb(26,13,171);
	font-size: 18px;
}

.searchResult-Left-col .searchResults_link {
	color:	#006621;
	font-style: none;
	font-size: 14px;
}

.searchResults_heading {
	cursor: pointer;
}

.searchResult-LeftBox {
	left: 150px;
	width: 632px;
	word-wrap: break-word;
	border: 1px solid rgba(46,46,46,.2);
	border-radius: 2px;
}

.searchResult-RightBox {
	border: 1px solid rgba(46,46,46,.2);
	width: 455px;
}

.searchResult-LeftBox_left {
	padding-top: 16px;
	padding-left: 16px; 
	left: 16px;
}

.searchResult-LeftBox_right {
	left: -23px;
}

.searchResult-LeftBox_left_desc {
	color: #1e1e1e;
	font-size: 16px;
	width: 94%;

}

.searchResult-LeftBox_left_desc b {
	font-size: 15px !important;
	color: #000 !important; 
}

.searchResults_LeftBox_bottom {
	left: 16px;
	padding-left: 32px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.searchResults {
	padding: 0px 16px;
	margin-bottom: 26px;
}

.small_img_row {
	left: 3px;
}

.small_img {
	margin: 0px;
}

.small_img img{
	height: 69px;
	width: 32%;
}

.rightBox_text {
	color: #000;
	font-size: 30px;
	padding-left: 15px;
	padding-top: 12px;	
}

.row_reset {
	margin: 0px;
}

.share_icon {
	height: 35px;
	float: right;
	padding-right: 10px;
}

.searchResult-RightBox-top {
	border-bottom: 1px solid rgba(46,46,46,.2);
}

.searchResult-RightBox-bottom {
	padding-left: 15px;
	padding-top: 12px;
	padding-right: 15px;
}

.searchResults:first-child{
	margin-top: 30px;
}

.searchResults_left {
	opacity: .9;
	display: inline-block;
}

.releated_Search_head {
	padding-bottom: 8px;
	color: #222;
	font-size: 18px;
	text-align: left;
	margin-top: 10px;

}

.searchResults li{
	color: #1a0dab;
	font-size: 14px;
	margin-bottom: 5px;
}

.searchResults ul{
	margin: 0px;
	display: inline-block;
}

.releated_Search_left {
	display: inline-block;
}

.releated_Search_right {
	display: inline-block;
	/*width: 195px;*/
}


.wiki{
	color: rgb(26,13,171);
}

.long_logo {
	display: block; 
}

table {
	display: table;
	border-spacing: 2px;
	border-color: grey;
	border-collapse: collapse;
	text-align: left;
	margin: 30px auto 30px;
}

tbody {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.long_logo td {
	color: #4285f4;
	text-align: center;
}

.nav_start {
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-position: -24px 0;
	background-size: 167px;
	width: 28px;
	display: block;
	height: 40px;
	margin-bottom: 15px;

}

.nav_end {
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-position: -96px 0;
	background-size: 167px;
	width: 71px;
	height: 40px;
	display: block;
}

.nav_o {
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-position: -74px 0;
	background-size: 167px;
	width: 20px;
	height: 40px;
	display: block;
}

.nav_o_1 {
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-position: -53px 0;
	background-size: 167px;
	width: 20px;
	height: 40px;
	display: block;
}


/* Footer */

#Footer {
	display: block;
	line-height: 40px;
	background: #f2f2f2;
	height: 40px;
	position: absolute;
	width: 102%;
	border-top: 1px solid #e4e4e4;
	margin-left: -27px;
	/*bottom: 0px;*/
}

#footer-left {
	text-align: left;
	display: inline-block;
	float: left;
	margin-left: 30px;
} 

#footer-right {
	text-align: right;
	display: inline-block;
	float: right;
	margin-right: 30px;
}

#Footer span a {
	padding-left: 27px;
	margin: 0 !important;
	text-decoration: none;
	color: #222;
	opacity: .75;
}

#Footer span a:hover {
	text-decoration: underline;
}
